{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .post_blog {
            width: 80%;
            margin-left: 10%;
            margin-top: 50px;
        }
        .post_blog > img {
            width: 100%;
        }
        .dates {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
        .comments {
            margin-top: 30px;
        }
        .comment_blog {
            background: darkviolet;
            margin-bottom: 20px;
            color: black;
            padding: 10px;
        }
    </style>
    <div class="post_blog">
        {% if product.image %}
            <img src="/media/{{ product.image }}" alt="oops :(">
        {% else %}
            <img src="https://sun9-4.userapi.com/c637523/v637523627/48b02/lZeHuPTDX3A.jpg"
        {% endif %}
        <div class="info">
            <h1>{{ product.title }}</h1>
            <h4>{{ product.description }}</h4>
            <div class="dates">
                <h5>Created date {{ product.created_date }}</h5>
                <h5>Modified date {{ product.modified_date }}</h5>
            </div>
        </div>
        <div class="comments">
            {% for comment in comments%}
                <div class="comment_blog">
                    <h5>{{ comment.text }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}